        <div id="copyright">
            <ul>
                <li>&copy;2018 Circolo Pueblo </li>
                <li>Design: Circolo Pueblo</li>
            </ul>
            <% if(theme.busuanzi.enable === false ) { %>
            	<span id="busuanzi_container_site_pv"><%- date(Date.now(), 'YYYY') %>总访问量<span id="busuanzi_value_site_pv"></span>次</span>
			<% } %>
        </div>